* {
  font-family: "Noto Sans KR", sans-serif;
}

ul {
  margin: 0;
  font-size: 14px;
}

.list {
  color: black;
  margin: 0;
  opacity: 0.7;
}
.list li:last-child {
  padding-bottom: 0;
}
.list li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.list .list-title {
  font-weight: bold;
  font-size: 14px;
}

.list > li:first-child {
  padding-top: 0;
}

/* layout */
body {
  position: relative;
  background-color: #f7f7f7;
  transition: all 1s;
}

header {
  height: 100px;
}

footer {
  height: 100px;
}

#clip {
  position: absolute;
  top: 93px;
  left: 72%;
  transform: rotate(3deg);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#banner {
  display: flex;
  flex-direction: column;
  height: 330px;
  background-color: rgb(146, 215, 100);
  border-bottom-right-radius: 80px;
  margin-bottom: 10%;
}
#banner .banner-title {
  height: 60%;
  padding: 5% 7%;
}
#banner .banner-title .title {
  color: white;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 4px;
}
#banner .banner-title .subtitle {
  color: white;
  font-size: 29px;
  font-weight: bold;
  letter-spacing: 1px;
}
#banner #contact {
  height: 40%;
}
#banner #contact .contact-info {
  display: flex;
  padding-left: 7%;
}
#banner #contact .contact-info ul {
  padding: 0;
  width: 30%;
  list-style-type: none;
  color: white;
  font-size: 15px;
  opacity: 1;
}
#banner #contact .contact-info ul a:link {
  color: white;
}
#banner #contact .contact-info ul a:visited {
  color: white;
}
#banner #contact .contact-info ul a:hover {
  color: grey;
}
#banner #contact .contact-info ul a {
  text-decoration: none;
  padding-right: 5px;
}
#banner #contact .contact-info i {
  padding-right: 3%;
}

article {
  padding: 0 12% 10% 12%;
}

.section-title {
  width: 100%;
  padding-bottom: 1%;
  margin: 0;
  color: #6db33f;
  font-size: 22pt;
  font-weight: 100;
  border-bottom: 2px solid #6db33f;
  opacity: 0.7;
}

section {
  padding: 6% 2% 20% 2%;
}

#aboutme .aboutme-content {
  margin: 0;
  padding: 0;
  opacity: 0.7;
}

#project hr {
  margin: 5% 0 5% 0;
  background-color: #6db33f;
  height: 1px;
  border: 0;
  opacity: 0.7;
}
#project .project .project-header .title {
  padding-bottom: 5px;
  font-size: 14pt;
  font-weight: bold;
  opacity: 0.7;
}
#project .project .project-header .title i {
  padding-right: 1%;
  opacity: 0.7;
  color: #6db33f;
}
#project .project .project-header .title a {
  text-decoration: none;
}
#project .project .project-header .title a:link {
  color: black;
}
#project .project .project-header .title a:visited {
  color: black;
}
#project .project .project-header .title a:hover {
  color: grey;
}
#project .project .project-header .subtitle {
  opacity: 0.7;
}
#project .project .project-body {
  display: flex;
  padding-top: 3%;
}
#project .project .project-body .pb-left {
  width: 20%;
}
#project .project .project-body .pb-left .type {
  margin: 0;
  padding: 0;
  padding-bottom: 5%;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.8;
}
#project .project .project-body .pb-left .task {
  font-size: 11pt;
  padding: 0;
  opacity: 0.7;
}
#project .project .project-body .pb-left .period {
  font-size: 10pt;
  padding: 0;
  opacity: 0.7;
}
#project .project .project-body .pb-right {
  width: 80%;
}
#project .project .project-body .pb-right .simple {
  padding: 0 10px;
  font-size: 14px;
  opacity: 0.7;
}
#project .project .project-body .pb-right .detail {
  display: none;
}
#project .project .project-body .pb-right .hs {
  padding: 0 10px;
  float: right;
  background-color: white;
  outline: none;
  border: none;
  font-size: 14px;
  opacity: 0.7;
}
#project .project .project-body .pb-right button:hover {
  opacity: 0.3;
}

#skills hr {
  margin: 8% 0 6% 0;
  height: 1px;
  border: 0;
  opacity: 0.7;
}
#skills .skills .skills-title {
  padding-left: 2%;
  padding-bottom: 4%;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.7;
}
#skills .skills .tab {
  overflow: hidden;
}
#skills .skills .tab button {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.4;
}
#skills .skills .tab button:hover {
  opacity: 1;
}
#skills .skills .tab button.active {
  opacity: 1;
}
#skills .skills .tabcontent {
  display: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px 20px;
}
#skills .skills .tabcontent .skills-item {
  animation: fadeEffect 1s;
  padding: 3% 0 3% 0;
}
#skills .skills .tabcontent .skills-item .skills-item-title {
  margin-left: 3%;
}
#skills .skills .tabcontent .skills-item .skills-item-title img {
  height: 40px;
}
#skills .skills .tabcontent .skills-item .list {
  padding: 20px 20px 20px 30px;
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.timeline li {
  position: relative;
  min-height: 40px;
  list-style: none;
  padding: 0 0 0 10px;
}
.timeline li::before {
  opacity: 0.7;
  content: "";
  position: absolute;
  width: 2px;
  background-color: grey;
  top: 55%;
  bottom: 0;
  left: -19px;
}
.timeline li:nth-last-child(1)::before {
  width: 0px;
}
.timeline li::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #6db33f;
  border-radius: 50%;
  top: 17%;
  left: -23px;
}

.java {
  color: #cc342f;
  background-color: #cc342f;
  border: 1px solid #cc342f;
}

.spring {
  background-color: #6db33f;
  border: 1px solid #6db33f;
}

.jpa {
  background-color: #59676a;
  border: 1px solid #59676a;
}

.mybatis {
  background-color: #d40000;
  border: 1px solid #d40000;
}

.jsp {
  background-color: #e56f1f;
  border: 1px solid #e56f1f;
}

.thymeleaf {
  background-color: #005f0f;
  border: 1px solid #005f0f;
}

.linux {
  background-color: #fcc624;
  border: 1px solid #fcc624;
}

.docker {
  background-color: #2497ed;
  border: 1px solid #2497ed;
}

.kafka {
  background-color: #59676a;
  border: 1px solid #59676a;
}

.aws {
  background-color: #232f3e;
  border: 1px solid #232f3e;
}

.html {
  background-color: #e34f26;
  border: 1px solid #e34f26;
}

.css {
  background-color: #1572b6;
  border: 1px solid #1572b6;
}

.bootstrap {
  background-color: #7952b3;
  border: 1px solid #7952b3;
}

.javascript {
  background-color: #f7df1e;
  border: 1px solid #f7df1e;
}

.react {
  background-color: #61dafb;
  border: 1px solid #61dafb;
}

.mysql {
  background-color: #4479a1;
  border: 1px solid #4479a1;
}

.mariadb {
  background-color: #003545;
  border: 1px solid #003545;
}

.oracle {
  background-color: #f80000;
  border: 1px solid #f80000;
}

.mongodb {
  background-color: #47a248;
  border: 1px solid #47a248;
}

.git {
  background-color: #f05032;
  border: 1px solid #f05032;
}

.github {
  background-color: #181717;
  border: 1px solid #181717;
}

.arduino {
  background-color: #00979d;
  border: 1px solid #00979d;
}/*# sourceMappingURL=style.css.map */